<%layout("/layouts/boilerplate")%>
    <h3>Edit your Listing</h3>
    <div class="row">
      <div class="col offset-2">
        <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" enctype="multipart/form-data">
          <div class="mb-3"><lable for="title" class="form-label">Title</lable>
            <input name="listing[title]" class="form-control" value="<%= listing.title %>" type="text" />
          </div>
            
            <div class="mb-3">
              <lable for="description" class="form-label">Description</lable>
              <textarea name="listing[description]" class="form-control" required>
              <%= listing.description %></textarea></div>
              <div class="invalid-feedback">Please enter short description</div>
              <div class="mb-3">
                Original Listing Image <br/>
              <img src="<%=originalImageUrl%>"/>
              </div>
            <div class="mb-3">
              <lable for="image" class="form-label">Upload New Image</lable>
              <input name="listing[image]" class="form-control"  type="file" /></div>
            
            <div class="mb-3">
              <lable for="price" class="form-label">Price</lable>
              <input name="listing[price]" class="form-control" value="<%= listing.price %>" type="number" />
            </div>
            
            
            <div class="mb-3">
              <lable for="country" class="form-label">Country</lable>
      
              <input
              name="listing[country]"
              value="<%= listing.country %>"
              type="text"
              class="form-control"
            />
            </div>
            
            <div class="mb-3"> 
              <lable for="location"  class="form-label">Location</lable>
      
              <input
              name="listing[location]"
              value="<%= listing.location %>"
              type="text"
              class="form-control"
            />
            </div>
            
            <br /><br />
            <button>Edit</button>
          </form>

      </div>
    </div>
    

   